@media(max-width: 640px){
	.vel-mobile--header{
		display: none !important;
	}
}


.vel-app-header{
	height: 56px;
	width: 100%;
	/*position: absolute;*/
}


.vel-back{
	order: 1
}


#ms-title{
	order:2;
	width: 48px;
    height: 56px;
}

.cart-counter-a{
	order: 3;
	margin-left: auto;
    height: 56px;
}

.cart-counter{
	top: 2px !important;
}