.detail{
    color:rgba(0,0,0,.87);
    background-color: #fff;
}

.main-detail{
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;      
}

@media screen and (min-width: 1280px){
    .main-detail{
        margin-left: auto;
        margin-right: auto;
    }
}


.breadcrumbs{
    padding: 8px 16px;
}

.breadcrumbs-wrap{
    color:rgba(0,0,0,.87);
}

.breadcrumbs-list{
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.breadcrumb{
    color: #616161;
    display: inline-block;
    font-weight: 400;
    height: 32px;
    /*line-height: 32px;*/
    min-width: 0;
    text-decoration: none;
}

a.breadcrumb::after{
    content: " > ";
    color: #616161;
    margin: 0 8px;
}

.product-detail{
    padding: 7px 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.about-product{
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

.header2{
    font-family: "Google Sans",sans-serif;
    font-size: 1.57em;
    font-weight: normal;
    padding: 16px 0 16px 16px;
}

.about-wrap:hover{
    background: #ececec;
}

.arrow-svg{
    fill: black;
    transform: rotate(270deg);
}

.about-ar{
    padding: 20px 0;
}

.image-sku{
    position: relative;
    min-width: 0;
}

.sku-name-rating{
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    color: rgba(0,0,0,.87);
}

.[data-sku-meta]{
    color: rgba(0,0,0,.87);
}

.sku-title{
    font-size: 1.57em;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 1.72em;
}

.sku-rating{
    margin-top: 8px;

}

.sku-gallery{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sku-gallery-wrap{
    margin: 16px;
    display: block;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    max-width: 100%;
}

.image-wrap{
    width: 500px;
    min-width: 500px;
    height: 500px;
    min-height: 500px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}


.sku-thumbnails{
    margin: 10px 0;
    width: 100%;
}

.sku-picker{
    width: 48px;
    margin: 5px 0;
    height: 56px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.thumbnail-wrap{
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}

.-vt-key-features{
    min-width: 300px;
    max-width: 300px;
    box-sizing: border-box;
}

.key-features{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: block;
    line-height: 1.72em;
}

.key-features-heading{
    font-weight: 500;
    font-size: 18px;
}

.pricing-sku{
    border-left: 1px solid #eee;
    padding-left: 16px;
    flex: 0 0 330px;
    box-sizing: border-box;
    max-width: 330px;
    min-width: 330px;    
}

.buy-now-container{
    margin-bottom: 24px;
    display: block;
    background-color: #f1f1f1;
    border-color: rgba(0,0,0,.12);
    border-width: 1px 0;
    padding: 16px;    
}

.sku-price{
    -webkit-flex-direction: row;
    flex-direction: row;
}
.-sku-price{
    align-items: baseline;
}

.vt-sale-price{
    font-size: 2em;
    font-weight: 600;    
}
.vt-original-price{
    margin-left: 8px;
    text-decoration: line-through;
}

.vt-savings{
    color: #00d061;
    margin-left: 8px;
    font-weight: 700;    
}

.vty-add-to-cart{
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
}

.add-to-cart{
    -webkit-flex-direction: column;
    flex-direction: column;
}

.add-to-cart-btn{
    background: #00d061;
    color: #fff;
    border:none;
    -webkit-border-radius: 8px!important;
    -webkit-border-radius: 8px!important;
    border-radius: 8px!important;
    font-size: 16px!important;
    line-height: 44px!important;
    padding: 0 16px!important;
    text-transform: none!important;
}

.add-to-cart-btn-outlined{
    background: #fff;
    color: #00d061;
    border: 1px solid #00d061;
    -webkit-border-radius: 8px!important;
    -webkit-border-radius: 8px!important;
    border-radius: 8px!important;
    font-size: 16px!important;
    line-height: 44px!important;
    padding: 0 16px!important;
    text-transform: none!important;
    margin-top: 10px;
}

.add-to-cart-btn:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15)
}

.add-to-cart-btn-outlined:hover{
    background: #7af5b317;
    border: 1px solid gainsboro;
}

.about-detail-wrap{
    box-sizing: border-box;
    max-width: 900px;
    padding: 16px;
    width: 100%;
}

.about-detail{
    line-height: 1.72em;
}

.specs-table{
    display: block;
}

.sku-spec-table{
    border: 1px solid #e8eaed;
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;    
}

.spec{
    background: #f8f9fa;
    padding: 16px;
}

.spec-odd{
    background: #fff;
    padding: 16px;
}

.spec-title{
    flex: 0 0 224px;
    font-weight: 600;
}

.spec-value{

}

.rich-list{
    list-style-type: initial;
    padding-left: 16px;
    margin: 8px 0;
}
@media screen and (min-width: 960px){
    .image-sku{
        margin-right: 20px;
    }

    .sku-gallery{
        margin-right:20px;
    }
    .buy-now-container{
        background-color: #fff;
        padding: 0 16px;
    }
}
/*===================================*/
/*Mobile*/
/*===================================*/


/*.mty-main{
    background: white;
}*/
.-white{
    background-color: white;
}

.mty-header-wrap{
	position: unset;
    background-color:black;
}

.average-rating{
    font-weight:600;
    font-family: Arial;
    font-size: 60px;
}
.mty-draggable-container{
	border-bottom: 1px solid #e2e2e2;
	clear: both;
    /*margin: 0 auto 6px;*/
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: white;
    padding: 20px;
}


.mty-draggable-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);    
}


.pimage{
	    min-height: 240px;
}
.mty-draggable-item{
    width: 411px;
        -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
/*        position: absolute;*/
    top: 0;
    float: left;
}

.drag-image{
	    display: block!important;
    margin: 0 auto;vertical-align: middle;
    max-width: 100%;
    height: auto;
    transform: translate3d(0,0,0);
}
.mty-image-paginator{
	position: absolute;
    bottom: 8px;
    width: auto;
    right: 8px;
    padding: 5px 9px;
    border-radius: 2px;
    background: #fff;
}

.mty-pag-on{
	font-weight: 500;
	color: #282828;
}

.mty-pag-total{
	    color: #8d8d92;
}


.pricing-box{
	padding: 16px;
}

.name-container{
	position: relative;
    margin-top: 10px;
}

.manufacturer{
	    position: absolute;
    top: -16px;
    padding-right: 10px;
}

.mty-product-title{
line-height: 20px;
    font-size: 14px;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-primary{
    background: #0cc568;
    background: -moz-linear-gradient(top,rgb(255, 176, 0) 0%,rgb(248, 144, 41) 100%);
    background: -webkit-linear-gradient(top,rgb(255, 176, 0) 0%,rgb(248, 144, 41) 100%);
    background: linear-gradient(to bottom,rgb(255, 176, 0) 0%,rgb(248, 144, 41) 100%);
    color: #FFFFFF!important;
    border-radius: 5px;
    padding:  10px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,.25);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,.25);
    border: none;
    outline: none;  
}

.mstar{
    font-size: 16px;
}

.main-price{
    font-size: 1.25rem;
    font-family: Roboto, Arial, sans-serif;
}

.sale-price{
    text-decoration: line-through;
    /*font-family: Roboto, Arial, sans-serif;    */
}


.mty-promo{
    padding: 12px;
    padding-top: 0;
}

.promo-wrap{
    background: #ededed;
    padding: 8px;
}
.promo-img{
    max-width: 70px;
}

.promo-description{
    margin-top: 4px !important; 
    font-size: 12px;    
}

.mty-card{
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px solid gainsboro;    
}


.mty-cart-buy{
    padding: 8px 8px 0 8px;
}

.cart-mty{
    background-color: white;
    color: #00d061;
    font-weight: bold;
    font-size: 15px;
}

.mty-buy{
    text-transform: uppercase;
    padding: 16px 16px;
    font: Roboto,Helvetica,Arial,sans-serif;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;    
}

.rra{
    color: gray;
    padding: 10px;
}

.rcontent{
    padding:8px; 
}

.mty-review-card{
    border-top: 1px solid gainsboro;
}

.mty-review-card-wrap{
    padding:12px;
}

.mty-rev-user{
    margin-bottom: 10px;
}
.mty-rev-user > p {
    margin-right: 10px;
}

.mty-review-star{
    margin-right: 10px;
    color: green;
}

.mty-review-wrap{
    font-size: 16px;
    margin-top: 10px;
}

.no-review{
    display: grid;
}

.nosvg{
    margin: auto;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}