.velzoom{
	position:relative;
}

.velzoom .magnifier{
	box-sizing:border-box;
	border:1px solid #gray;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	display:none;
	cursor:move;
}

.small,.velzoom .big{
	position:absolute;

}

.velzoom .small{
	top:0;
	left:0;
	cursor:move;
}

.velzoom .big{
	overflow:hidden;
	display:none;
background-color: white;
	}

.velzoom .small img,.velzoom .big img{
	position:absolute;
	top:0;
	left:0;

}