body{
    margin:0;
    font-family: Roboto, sans-serif;
}

*{
    box-sizing: border-box;
}


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
}

:root {
    --mdc-theme-primary: #212121;
    --mdc-theme-secondary: #018786;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

.mdc-top-app-bar{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.homepage-banner{
    background-color: #212121;
    color: #fafafa;
    display: block;
    padding-top: 176px;
    padding-bottom: 64px;
}

.homepage-logo-svg{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.homepage-banner-content{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: 0;
    opacity: 1;
}

.main-container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto 0;
    padding: 64px 16px 0;
    overflow: hidden;
}

.section-header {
    margin-bottom: 28px !important;
}

.footer{
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #616161;
    background-color: #f1f3f4;
    font-size: 0.875rem;
    line-height: 1.8;
}

.inner-footer{
    max-width: 1240px;
    margin: 0 auto;
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 16px;
    padding: 32px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
}

.grid{
    padding-bottom: 20px;
}

.profiles-grid-wrap{
    display: flex;
    flex-wrap: wrap;
     margin: 0 -20px;
 }

@media screen and (min-width: 921px) {
.main-container{
    padding: 88px 40px 0;
}
    .section-header{
        margin-bottom: 28px;
    }

    .home-heading{
        font-size: 2rem;
    }

    .about{
        flex-wrap: nowrap;
        margin: 0 40px;
        padding: 32px 0;
        padding-top: 48px;
    }
}